nav {
  height: 90px;
  background-color: #7180bf;
}

nav div i {
  margin-right: 20px;
}
nav .avatar {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

img {
  border-radius: 50%;
  height: 30px;
  width: 30px;
}
